DirectoryIndex index.html

ErrorDocument 403 /err/403/
ErrorDocument 404 /err/404/
ErrorDocument 500 https://errors.infinityfree.net/errors/500/

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>
